<div class="wrap pageContent">
    <div class="row">
        {{#each training in controller}}
            <div class="col-md-12">
                <h2>{{training.name}}</h2>
                {{markdown training.intro}}
                {{link-to training.name "trainings.training" training}}
            </div>
        {{/each}}
    </div>
</div>