<div class="wrap pageContent">
    <div class="row">
        <div class="col-md-12">
            <h2>{{name}}</h2>

            <p class="ingress">{{intro}}</p>
            {{markdown content.content}}

            {{link-to "Back to Training Overview" "trainings"}}
        </div>
    </div>
</div>