<div class="smallTopPadding"></div>

<div class="wrap">
    <h1>Projects</h1>
    <div class="row">
        <div class="col-md-4">
            <form role="form">
                <h4>Fritekstsøk</h4>
                <div class="form-group">
                    <input type="text" class="form-control" id="fritekst" placeholder="Tekstsøk">
                </div>
                <h4>Aktører</h4>
                <div class="form-group">
                    <label style="width: 100%;">
                        <input type="checkbox"> Arkitekter <span class="badge pull-right">42</span>
                    </label>
                    <label style="width: 100%;">
                        <input type="checkbox"> Installatør <span class="badge pull-right">12</span>
                    </label>
                    <label style="width: 100%;">
                        <input type="checkbox"> Leverandør <span class="badge pull-right">9</span>
                    </label>
                </div>
                <h4>Energitype</h4>
                <div class="form-group">
                    <label style="width: 100%;">
                        <input type="checkbox"> Solstrøm <span class="badge pull-right">34</span>
                    </label>
                    <label style="width: 100%;">
                        <input type="checkbox"> Solvarme<span class="badge pull-right">19</span>
                    </label>
                </div>
                <h4>Område</h4>
                <div class="form-group">
                    <select multiple class="form-control" style="height: 200px;">
                        <option>Oslo</option>
                        <option>Akershus</option>
                        <option>Vestfold</option>
                        <option>Østfold</option>
                        <option>Telemark</option>
                        <option>Hedmark</option>
                        <option>Oppland</option>
                        <option>Buskerud</option>
                        <option>Aust-Agder</option>
                        <option>Vest-Agder</option>
                        <option>Rogaland</option>
                        <option>Hordaland</option>
                        <option>Sogn og Fjordane</option>
                        <option>Møre og Romsdal</option>
                        <option>Sør-Trøndelag</option>
                        <option>Nord-Trøndelag</option>
                        <option>Troms</option>
                        <option>Nordland</option>
                        <option>Finnmark</option>
                    </select>
                </div>
                <h4>Størrelse</h4>
                <div class="form-group">
                    <label style="width: 100%;">
                        <input type="checkbox"> Lite/Hytte <span class="badge pull-right">5</span>
                    </label>
                    <label style="width: 100%;">
                        <input type="checkbox"> Mellom/Hus <span class="badge pull-right">12</span>
                    </label>
                    <label style="width: 100%;">
                        <input type="checkbox"> Stort/Næring <span class="badge pull-right">22</span>
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <img src="/uploads/enova_logo.png" />
                </div>
                <div class="col-md-8">
                    <p>Enova skal drive fram en miljøvennlig omlegging av energibruk og energiproduksjon, samt bidra til utvikling av energi- og klimateknologi. Dette gjøres hovedsaklig gjennom økonomisk støtte og rådgivning.</p>
                    <span class="label label-primary">Mer Info</span>
                    <span class="label label-info">Purehelp.no</span>
                    <span class="label label-info">Kart</span>
                </div>
            </div>
            <div class="smallTopPadding"></div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/uploads/catch_logo.jpg" />
                </div>
                <div class="col-md-8">
                    <p>Catch Solar Energy AS har ny og patentert teknologi for flate solfangere og solvarme-systemer til å varme opp vann, varme opp bygninger eller kjøle bygninger med solenergi samtidig som du sparer penger og resurser</p>
                    <span class="label label-primary">Mer Info</span>
                    <span class="label label-info">Purehelp.no</span>
                    <span class="label label-info">Kart</span>
                </div>
            </div>
            <div class="smallTopPadding"></div>
            <div class="row">
                <div class="col-md-12">
                    ... Flere resultater nedover...
                </div>
            </div>
        </div>
    </div>
</div>

<div class="smallTopPadding"></div>