<div class="wrap pageContent">
    <div class="row">
        <div class="col-md-4">
            <div class="mediumTopMargin"></div>
            <div class="header">Haagen Software</div>
        </div>
        <div class="col-md-7 col-sm-offset-1">
            <div class="mediumTopMargin"></div>
            <p class="frontPageParagraph">Haagen Software delivers high quality bespoke software within modern web technology and Java. In 2014 Haagen Software arranged the second annual Ember Fest conference, a high-tech conference focussing on the Ember.js framework.</p>
            {{link-to "Our projects &gt;" "projects"}}
        </div>
    </div>
</div>

<div class="mediumTopMargin"></div>


<div class="konsertBoks indexBoxBackground" data-stellar-background-ratio="0.5">
    <div class="xlargeTopMargin"></div>
    <div class="wrap">
        <div class="row">
            <div class="col-md-6">
                <div class="seeThruBox">
                    <h1>Conticious</h1>
                    <p>Conticious is a Data Management System (DMS) developed with an Ember Data compliant API, as well as plug-in extendable APIs and backends. Conticious will help you our during development and testing of your Ember.js applications, as well as provide a stable hosting environment for your app!</p>
                    {{link-to "&gt; Read more about Conticious!" "products.product" "conticious"}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="seeThruBox">
                    <h1>Montric</h1>
                    <p>Montric is an application agnostic application performance tool that will keep you updated whenever your important metrics change and breach your carefully specified thresholds. Montric accepts the metrics that you have already gathered via a clean developer-friendly API.</p>
                    {{link-to "&gt; Read more about Montric!" "products.product" "montric"}}
                </div>
            </div>
        </div>
    </div>
</div>
